
.row-in{    
    width:100%;
    -webkit-animation: row-in 4s ease-in-out 0s 1 normal;
    -ms-animation: row-in 4s ease-in-out 0s 1 normal;
    margin-top:25%;
    z-index:2;
    height:auto;
}

.logo-init{
    width:100%;
}

.inicio{
    background:transparent url('http://localhost:58889/http-services/emulator-webserver/ripple/userapp//C/Users/Winter/Documents/GitHub/FindYours/img/bg.JPG') 0 0 no-repeat fixed;
    width:100%;
}
.write-view{
    position:absolute;
    top:0;
    left:0;
    width:100%;
}
.write{
    position:absolute;
    width:100%;
    top:0;
    left:0;
    background-color:rgba(0,0,0,.85);
}

@-webkit-keyframes row-in {
    0% { 
        margin-top:-800px;
    }
    90% { 
        margin-top:30%; 
    }
    100% {
        margin-top:25%;
    }
}
@-ms-keyframes row-in {
    0% { 
        margin-top:-800px;
    }
    90% { 
        margin-top:30%; 
    }
    100% {
        margin-top:25%;
    }
}